@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Farro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <header>

        <div class="overlay"></div>


        <div class="main">

            <div class="tone-1">

                <div class="product-info">
                    <h1> Jewelry by D</h1>
                    <p> Unique Jewelry Design </p>
                    <p1> Based in Jerusalem </p1>


                    <div class="info-btns">
                        <a href="#" class="btn discover-btn">Catalog</a>

                        <a href="#" class="btn cart-btn">ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="tone-2">
                <img src="~/Content/images/12.jpg" alt="jewlery">
            </div>
        </div>
    </header>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js"></script>
</body>
</html>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    html {
        font-family: "Roboto Lt", sans-serif;
        font-size: 10px;
        color: #333;
    }

    header {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    a {
        text-decoration: none;
        color: inherit;
    }


    .main {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .tone-1 {
        height: 100vh;
        flex: 1;
    }

    .tone-2 {
        height: 100vh;
        flex: 1;
        position: relative;
    }




        .tone-2 img {
            width: 45%;
            position: absolute;
            top: 50%;
            left: 0rem;
            transform: translateY(-50%);
            box-shadow: 2px 1.5rem 1.5rem rgba(2, 1, 1, 0.3);
        }

    .product-info {
        display: flex;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .product-info h1 {
            font-size: 4rem;
            font-family: 'Abril Fatface', cursive;
            letter-spacing: 3px;
            margin-right: -3px;
            font-weight: bold;
            margin-bottom: 1rem;
            text-align: center;
        }


        .product-info p {
            font-family: 'Farro', sans-serif;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .product-info p1 {
            font-family: 'Farro', sans-serif;
            font-size: 1.5rem;
            margin-bottom: 4rem;
        }

    .btn {
        font-family: 'Farro', sans-serif;
        display: flex;
        padding: 1.5rem;
        color: #f6f7f7;
        font-size: 1.5rem;
        font-weight: 500;
        transition: all .5s;
    }

    .info-btns {
        display: flex;
    }

    .discover-btn {
        background-color: #a4a4a4;
    }

    .cart-btn {
        background-color: #2a2929;
    }

        .discover-btn:hover, .cart-btn:hover {
            color: #f6f7f7;
            box-shadow: 3px 1rem 2rem rgba(2, 1, 1, 0.3);
            transform: translateY(-0.5rem);
            transition: all .5s;
        }



    .overlay {
        position: absolute;
        width: 0;
        height: 100vh;
        background-color: rgba(0,0,0, .8);
        z-index: 998;
        opacity: 0;
        transition: opacity .5s;
    }

        .overlay.menu-open {
            width: 100%;
            opacity: 1;
        }
</style>
