
@{
    ViewBag.Title = "Catalog";
    if (@ViewBag.Admin == "true")
    {
        Layout = "~/Views/Shared/_BasicLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_ClientLayout.cshtml";
    }
}

<h2>Catalog</h2>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }
</style>
<!-- First Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="~/Content/images/1.jpg" alt="1" style="width:100%" class="w3-hover-opacity"
             >
        <div class="w3-container w3-black">
            <p><b>Blue Royal</b></p>
        </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="~/Content/images/8.jpg" alt="2" style="width:100%" class="w3-hover-opacity"
             >
        <div class="w3-container w3-black">
            <p><b>Amy</b></p>
        </div>
    </div>
    <div class="w3-third w3-container">
        <img src="~/Content/images/3.jpg" alt="3" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b> Luna </b></p>
        </div>
    </div>
</div>



<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="~/Content/images/4.jpg" alt="4" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b>Nickol</b></p>
        </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="~/Content/images/5.jpg" alt="5" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b>Vanilla</b></p>
        </div>
    </div>
    <div class="w3-third w3-container">
        <img src="~/Content/images/6.jpg" alt="6" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b> Yuval </b></p>
            
        </div>
    </div>
</div>



<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="~/Content/images/7.jpg" alt="7" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b>Emma </b></p>
        </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="~/Content/images/8.jpg" alt="8" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b>Kate</b></p>
        </div>
    </div>
    <div class="w3-third w3-container">
        <img src="~/Content/images/9.jpg" alt="9" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b> Darya </b></p>
        </div>
    </div>
</div>



<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="~/Content/images/10.jpg" alt="10" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b> Coco</b></p>
        </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="~/Content/images/11.jpg" alt="11" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b>Bella </b></p>
        </div>
    </div>
    <div class="w3-third w3-container">
        <img src="~/Content/images/1.jpg" alt="12" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-black">
            <p><b> Rio </b></p>
        </div>
    </div>
</div>