
@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Jstore.Controllers
@using NewStore.Models

@model List<Group<string, Item>>

@{
    ViewBag.Title = "LINQ Grouping";
}
<h2>Grouping Items by Type</h2>
<table class="table">
    <tbody>
    @foreach (var group in Model)
    {
        <tr><th colspan="3" style=" font-size:20px; ">@group.Key</th></tr>
       <tr><th>Brand</th><th style="padding-left:90px">Item Name</th></tr>

        foreach (var Item in group.Values)
        {
                <tr><td>@Item.Brand.BrandName</td><td style="padding-left:100px">@Item.ItemName</td><td></tr>
            }
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to List", "ItemIndex")
</div>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        background-color: #f8f8f8;
        border: 1.5px solid black;
    }
</style>

